<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <file>registration.php</file>
                <directory suffix=".php">./Test</directory>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
